<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Проекты</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" />
  <link rel="icon" href="https://index-eosin.vercel.app/Imarat%20Group.svg" type="image/icon type">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#" style="font-weight: bold">Управление проектом</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard" style="color: red; font-weight: bold; font-size: 20px">Назад</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <main style="margin-top: 20px">
      <form action="/projects/create" method="post" enctype="multipart/form-data" class="mb-4">
        <div class="mb-3">
          <label for="newCategory" class="form-label" style="font-weight: bold">Категория:</label>
          <select class="form-select" id="newCategory" name="newCategory" required>
            <option value="Bedroom">Bedroom</option>
            <option value="Kitchen">Kitchen</option>
            <option value="Home office">Home office</option>
            <option value="Living room">Living room</option>
            <option value="Dining Room">Dining Room</option>
            <option value="Bathroom">Bathroom</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="newPhoto" class="form-label" style="font-weight: bold">Фото:</label>
          <input type="file" class="form-control" id="newPhoto" name="newPhoto" required />
        </div>
        <button type="submit" class="btn btn-primary" style="font-weight: bold">
          Создать категория
        </button>
      </form>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <% projects.forEach(project=> { %>
          <div class="col">
            <div class="card">
              <img src="<%= project.photo %>" class="img-thumbnail" alt="<%= project.category %>" />
              <div class="card-body">
                <h5 class="card-title">
                  <%= project.category %>
                </h5>
                <button type="button" class="btn btn-primary" style="font-weight: bold" data-bs-toggle="modal"
                  data-bs-target="#editModal<%= project._id %>">
                  Редактировать
                </button>
                <button type="button" class="btn btn-danger" style="font-weight: bold"
                  onclick="deleteBlog('<%= project._id %>')">
                  Удалить
                </button>
              </div>
            </div>
          </div>
          <% }); %>
      </div>
      <br />
      <!-- Edit Modal -->
      <% projects.forEach(project=> { %>
        <div class="modal fade" id="editModal<%= project._id %>" tabindex="-1"
          aria-labelledby="editModalLabel<%= project._id %>" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-category" id="editModalLabel<%= project._id %>" style="font-weight: bold">
                  Редактировать блог
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form action="/projects/update/<%= project._id %>" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                  <div class="mb-3">
                    <label for="updatedCategory" class="form-label" style="font-weight: bold">Обновленная
                      категория:</label>
                    <select class="form-select" id="updatedCategory" name="updatedCategory"
                      value="<%= project.category %>" required>
                      <option value="Bedroom">Bedroom</option>
                      <option value="Kitchen">Kitchen</option>
                      <option value="Home office">Home office</option>
                      <option value="Living room">Living room</option>
                      <option value="Dining Room">Dining Room</option>
                      <option value="Bathroom">Bathroom</option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label for="updatedPhoto" class="form-label" style="font-weight: bold">Обновленное фото:</label>
                    <input type="file" class="form-control" id="updatedPhoto" name="updatedPhoto" />
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" style="font-weight: bold">
                    Сохранить изменения
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <% }); %>
    </main>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    function deleteBlog(projectId) {
      Swal.fire({
        title: "Вы уверены?",
        text: "Вы действительно хотите удалить этот проект?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Да, удалить!",
        cancelButtonText: "Отмена",
      }).then((result) => {
        if (result.isConfirmed) {
          window.location.href = `/projects/delete/${projectId}`;
        }
      });
    }
  </script>
</body>

</html>